.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid;
  padding: 20px 30px;
  .icon {
    display: flex;
    align-items: center;
  }
  .image {
    height: 40px;

    img {
      border-radius: 50%;
      height: 100%;
    }
  }
  .canvas-size {
    display: flex;
    gap: 20px;
  }
  .reset {
    display: flex;
    align-items: center;
    button {
      background-color: red;
      padding: 10px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: pink;
      }
    }
  }
}

.palette {
  display: flex;
  margin: 20px 40px;
  background-color: aliceblue;
  .content {
    padding: 10px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  .color-palette-selected {
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(198, 251, 198);
  }
  .color-palette {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
}

.canvas {
  padding: 0 30px;
  display: flex;
  justify-content: center;

  .single-line {
    display: grid;
    // grid-template-columns: repeat(3, 30px);
    .square {
      height: 10px;
      width: 10px;
      border: 0.5px solid rgb(196, 196, 196);
    }
    .clicked {
      background-color: red;
    }
  }
}
